<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>please click the following link to set up a live email alert when the president tweets the following key words:</p>
    <ul>
        <% @unverified_alert.words.each do |word| %>
            <%= word %>
        <% end %>
    </ul>
    <p>
      Sample mail sent using smtp.
    </p>
  </body>
</html>