.alert {
    top: 54px; 
    position: fixed;
    width: 100%;
    z-index:999; 
    border-radius:0px;
}

.keyword-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

.keyword-list li {
    margin-right: 10px;
    margin-top: 10px
}

.twitter-tweet {
    margin: auto;
}

a.carousel-control-next{
    background-image: linear-gradient(to right, rgba(233, 236, 239, 0.1) 0px, rgba(211, 211, 211, 0.8) 100%);
   }
a.carousel-control-prev{
    background-image: linear-gradient(to left, rgba(233, 236, 239, 0.1) 0px, rgba(211, 211, 211, 0.8) 100%);
}

.carousel-container{
    padding-top: 20px;
    background: rgba(233, 236, 239, 1);

}

.jumbotron{
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.py-5{
    padding-bottom: 0px;
}
.logo{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    height: 64px;
    width: 64px;
}

.logo-navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    height: 39px;
    width: 39px;
}

.custom-brand{
    font-size: 24px;
    padding-bottom: 0px;
}