.alert {
    top: 54px; 
    position: fixed;
    width: 100%;
    z-index:999; 
    border-radius:0px;
}

.keyword-list {
    list-style: none;
    display: flex;
    flex: left;
}

.keyword-list li {
    margin-right: 10px;
}
